<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="usernavbar">


    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e6e6e6;"  >

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">   <span class=" pull-right nav-link" id="navbar-text" ></span> </li>
                <li class="nav-item active" id="register">

                    <a class="nav-link " href="#"> <i class="fas fa-user prefix">  Sign Up</i></a>
                </li>
                <li class="nav-item active" id="login">
                    <a class="nav-link "  href="#"><i class="fas fa-sign-in-alt prefix">  Login</i></a>

                <li class="nav-item active" id="logout">


                    <a class="nav-link"  href="#">  <i class="fas fa-sign-out-alt prefix">  Logout</i></a>

                </li>



            </ul>





        </div>





</div>
</body>
</html>