.fa-stack[data-count]:after{
    position:absolute;
    right: 0;
    top:0;
    content: attr(data-count);
    font-size:40%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color:#aaaaaa;
    text-align:center;
    min-width:2em;
    font-weight:bold;
    background: white;
    border-style:solid;
}
.fa-circle {
    color:#cccccc;
}

.cart {
    color: #cccccc;
    background:white;
}

.shopping_cart_icon {
    display: flex;
    justify-content: flex-end;
    margin: -15px 20px 20px auto;
}

.card {
    margin-bottom: 15px;
}

.jumbotron {
    background-image: url("/static/img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #d2d2d2;
    text-shadow: 2px 2px 6px #000000;
}

.footer {
    margin-top: 100px;
}

.empty-cart {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.img-responsive {
    width: 100px;
    height: 100px;
}

.product {
    width: 50%;
}

.quantity {
    width: 8%;
}

.price, .edit {
    width: 10%;
}

.subtotal {
    width: 22%;
}

.filter {
    margin-bottom: 20px;
}


.billing-address-label, .shipping-address-label{
    font-weight: bold;
}

.checkout-input-field {
    width: 400px;
}

.checkout-input {
    margin-bottom: 15px;
}
.checkout-label{
    margin-bottom: 5px;
}

.checkout-shipping-address{
    font-size: unset;
    width:100%
}

.checkout-main-user-data, .checkout-billing-address, .checkout-shipping-address{
    margin: auto;

}

.checkout-button {
    margin-bottom: 20px;
    margin-top: 20px;
}
